doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet" href="/css/main.css")
    title= title
    if environment == "production"
      != partial('_analytics')

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js").
    script(src='https://code.jquery.com/jquery-migrate-1.2.1.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js").
    script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.min.js").

  body(class='#{slug}')
    #wrapper
      nav.main-nav
        .navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') #{site_name}
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right

                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | About
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='what-we-do.html') What and How
                    li
                      a(href='who-we-are.html') Who We Are
                    li
                      a(href='news.html') News
                    li
                      a(href='contact.html') Contact Us

                li
                  a(href='/budget-visuals.html') Visualizations

                li
                  a(href='http://data.openoakland.org/dataset/city-oakland-budget', target='_blank') Data

                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Resources
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='oakland-budget-101.html') Oakland Budget 101
                    li
                      a(href='tools-projects.html') Tools and Projects

                  //- li
                  //-   a(href='discuss.html') Discuss

                  li
                    a(href='feedback.html') Feedback

      != yield
      #wrapper-footer

    footer#footer
      != partial('_footer')

    link(href='https://fonts.googleapis.com/css?family=Arvo:400,700', rel='stylesheet', type='text/css')
